[client]
default-character-set = utf8

[mysql]
default-character-set = utf8

[mysqld]
character-set-client-handshake = FALSE
character-set-server           = utf8
collation-server               = utf8_unicode_ci
autocommit = OFF
transaction-isolation = READ-COMMITTED
datadir=/hdd/data/mariadb
#user = mysql
#bind-address = 0.0.0.0
